<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>receivedata</servlet-name>
        <servlet-class>com.servlets.receivedata</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>retrieve</servlet-name>
        <servlet-class>com.servlets.retrieve</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>myservlet</servlet-name>
        <servlet-class>com.servlets.myservlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>myser</servlet-name>
        <servlet-class>com.servlets.myser</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>receivedata</servlet-name>
        <url-pattern>/receivedata</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>retrieve</servlet-name>
        <url-pattern>/retrieve</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>myservlet</servlet-name>
        <url-pattern>/myservlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>myser</servlet-name>
        <url-pattern>/myser</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
